body
{
	background-color: #DCD8C3;
	margin: 0 !important;
	font-family: 'Lato', sans-serif;
}

header.header
{
	text-align: center;
	background-color: #978851;
}

#container
{
	background-color: #efede3;
	width: 300px;
	padding: 0px 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=text],
input[type=email],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #bfb389;
	background-color: #f6f4ee;
	color: #59502f;
}

input[type=submit]
{
	width: 300px;
	background-color: #978851;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

h1
{
	color: #564d2e;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 1px;
}

input[type=submit]:hover
{
	background-color: #ad9e67;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #59502f;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #59502f;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #59502f;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #59502f;
}

p.font-size
{
	font-size: 18px;
}

h1.header
{
	letter-spacing: 2px;
}

.text-align-tresc
{
	text-align: center;
}

.bg-container
{
	background-color: #efede3;
}

button.bg-color
{
	background-color: #978851;
	color: white;
}

button.bg-color:hover
{
	background-color: #867740;
}

button.bg-color:active
{
	background-color: #756630;
}

.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #978851;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 20px;
	height: 40px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 160px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #ad9e67;
}

ol > li:hover > a
{
	color: #451717;
}