
.icon-money-1:before { content: '\e800'; } /* '' */
.icon-right-hand:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */